ul {
  
    margin: 0;
    padding: 0 0 56px 0;
    list-style: none;
    width: 100%;
  }

  .TodoList {
    width: calc(100% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }